<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <Magecom translate="label" module="Gift">
            <label>Magecom Special Gifts</label>
            <sort_order>100</sort_order>
        </Magecom>
    </tabs>
    <sections>
        <Magecom translate="label" module="Gift">
            <label>Extension Options</label>
            <tab>Magecom</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
 
            <groups>
                <Magecom_group translate="label" module="Gift">
                    <label>Magecom Gift Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                                                
						<Magecom_inputone translate="label">
                            <label>Input Special price: </label>
                            <comment>Price</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </Magecom_inputone>
															
						<Magecom_inputtwo translate="label">
                            <label>Input ID of Gift Item: </label>
                            <comment>Id_gift</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>2</show_in_default>
                            <show_in_website>2</show_in_website>
                            <show_in_store>2</show_in_store>
                        </Magecom_inputtwo>
											
														
				
                    </fields>
                </Magecom_group>
            </groups>
        </Magecom>
    </sections>
</config>